---
site: Pet Photos
---
<!DOCTYPE html>
<html class="hfrel" lang="en">
    <head>
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
    </head>
    <body class="hfrel">
        <nav class="centered-navbar w-full">
            <h2 class="title-left">{{ site }}</h2>
            <ul class = "centered-list text-2xl">
                <li class="p-8"><a href="{{ '/' | url }}" class="{% if page.url == '/' %}
                    active-page{% endif %} nav-tab">Home</a></li>
                <li class="p-8"><a href="{{ '/dog/' | url }}" class="{% if page.url == '/dog/' %}
                    active-page{% endif %} nav-tab">Dogs Only</a></li>
                <li class="p-8"><a href="{{ '/cat/' | url }}" class="{% if page.url == '/cat/' %}
                    active-page{% endif %} nav-tab">Cats Only</a></li>
                <li class="p-8"><a href="{{ '/other/' | url }}" class="{% if page.url == '/other/' %}
                    active-page{% endif %} nav-tab">Other Animals</a></li>
                <li class="p-8"><a href="{{ '/about' | url }}" class="{% if page.url == '/about/' %}
                    active-page{% endif %} nav-tab">About Us</a></li>
            </ul>
        </nav>
    
        {{ content }}

        <footer class="centered-navbar">
            <h2 class="title-left">Email Us!</h2>
            <ul class = "centered-list">
                <li class="p-8"><a class="email-names"
                    href="mailto:mperez5891@csu.fullerton.edu">Manuel Perez</a></li>
                <li class="p-8"><a class="email-names"
                    href="mailto:nolan794@csu.fullerton.edu">Nolan O'Donnell</a></li>
                <li class="p-8"><a class="email-names"
                    href="mailto:usmanqazi@csu.fullerton.edu">Mohammad Usman Qazi</a></li>
                <li class="p-8"><a class="email-names"
                    href="mailto:cweichlein@csu.fullerton.edu">Christopher Weichlein</a></li>
            </ul>
        </footer>
    </body>
</html>
